footer {
  text-align: center;
  margin: 2rem 0;
  padding: 1rem;
  background-color: transparent;

  ul {
    text-transform: uppercase;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 0;

    li {
      display: inline;
      float: left;
    }

    &.footer-second {
      clear: both;

      li a {
        color: #666;
        display: block;
        padding: 0.5rem 1rem;
        font: 85% 'Roboto Condensed', sans-serif;

        &:hover, &:active {
          color: #333;
        }
      }
    }
  }
}
