svg.decoupled-dev-days-logo {
  width: 25%;
  height: 100%;
}

@media (max-width: 414px) {
  svg.decoupled-dev-days-logo {
    width: 60%;
    height: 100%;
  }
}

.cls-1 {
  fill: none;
  stroke: #727272;
  stroke-miterlimit: 10;
}
.cls-2 {
  fill: #8f2c8e;
}
.cls-3 {
  fill: #f0672f;
}
.cls-4 {
  fill: #40b350;
}
.cls-5 {
  fill: #0074ff;
}
.cls-6 {
  fill: #fff;
}
