svg.decoupled-dev-days-logo {

  .cls-1 {
    fill: none;
    stroke: #727272;
    stroke-miterlimit: 10;
  }
  .cls-2 {
    fill: #8f2c8e;
  }
  .cls-3 {
    fill: #f0672f;
  }
  .cls-4 {
    fill: #40b350;
  }
  .cls-5 {
    fill: #0074ff;
  }
  .cls-6 {
    fill: #fff;
  }
}

.header-logo {

  h1 {
    color: #0074ff;
    line-height: 1em;
    font-size: 1.2em;
    text-transform: uppercase;

    .title-secondary {
      color: #666;
      font-size: 68%;
      display: block;
    }
  }

  .title-details {
    padding: 0.75rem;
    background-color: #fff;
    line-height: 1.25em;

    .title-location {
      color: #0074ff;
      font-weight: bold;
    }

    .title-date {
      color: #666;
    }
  }
}
