.program {

  .program-session {
    display: table;
    border-bottom: 1px dotted #ccc;
    width: 100%;

    &:after {
      content: "";
      clear: both;
    }

    .program-title a {
      font-weight: bold;
    }
  }

  .program-session:last-child {
    border: 0;
  }
}
