.program {

  .program-session {
    display: table;
    border-bottom: 1px dotted #ccc;
    width: 100%;

    &:after {
      content: "";
      clear: both;
    }

    .program-time {
      float: left;
      width: 25%;
      padding: 0.5rem 0;
    }

    .program-details {
      float: right;
      width: 75%;
      padding: 0.5rem 0;
    }

    .program-title a {
      font-weight: bold;
    }
  }

  .program-session:last-child {
    border: 0;
  }
}
