// Mobile and tablet
@media (max-width: 760px) {

  .main {
    .main-first,
    .main-second {
      width: 100%;
    }

    .main-second {
      margin-top: 0.5rem;
    }
  }

  svg.decoupled-dev-days-logo {
    width: 50%;
  }

  .header-logo .title-details {
    margin-bottom: 0;
  }

  nav ul {
    width: 100%;

    li {
      display: block;

      a {
        display: block;
        float: none;
        clear: both;
        text-align: left;
      }
    }
  }
}

// Desktop for layout and logo
@media (min-width: 414px) {

  .main {
    max-width: 960px;
  }

  svg.decoupled-dev-days-logo {
    width: 60%;
    height: 100%;
  }
}

// Desktop general
@media (min-width: 760px) {

  nav ul li {
    display: inline;
  }
}
