.sponsors {
  max-width: 800px;
  margin: 0 auto;

  h1 {
    margin-bottom: 50px;
  }
  h2 {
    margin:0;
  }
  .gold, .silver {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .sponsor {
    padding: 1rem .25rem;
    max-width: 255px;
    flex-shrink: 2;
    svg {
      width: 100%;
      height: auto;
    }
  }

  .sponsor img {
    max-width: 100%;
  }
}
