.sponsoring {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;

  table {
    text-align: center;
  }

  td.level {
    padding-right: 5px;
    text-align: right;
  }

  th {
    font-size: 75%;
    line-height: 1;
  }

  .mailto {
    margin-left: 40px;
  }
}
