@font-face {
  font-family: 'League Spartan';
  src: url('fonts/leaguespartan-bold.eot');
  src: url('fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/leaguespartan-bold.woff2') format('woff2'),
       url('fonts/leaguespartan-bold.woff') format('woff'),
       url('fonts/leaguespartan-bold.ttf') format('truetype'),
       url('fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/robotocondensed-regular.eot');
  src: url('fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/robotocondensed-regular.woff') format('woff'),
       url('fonts/robotocondensed-regular.ttf') format('truetype'),
       url('fonts/robotocondensed-regular.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/robotocondensed-bold.eot');
  src: url('fonts/robotocondensed-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/robotocondensed-bold.woff') format('woff'),
       url('fonts/robotocondensed-bold.ttf') format('truetype'),
       url('fonts/robotocondensed-bold.svg#roboto_condensedbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/robotocondensed-italic.eot');
  src: url('fonts/robotocondensed-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/robotocondensed-italic.woff') format('woff'),
       url('fonts/robotocondensed-italic.ttf') format('truetype'),
       url('fonts/robotocondensed-italic.svg#roboto_condenseditalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/robotocondensed-bolditalic.eot');
  src: url('fonts/robotocondensed-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/robotocondensed-bolditalic.woff') format('woff'),
       url('fonts/robotocondensed-bolditalic.ttf') format('truetype'),
       url('fonts/robotocondensed-bolditalic.svg#roboto_condensedbolditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 1.1em/1.6em 'Roboto Condensed', sans-serif;
  background: #eee url('images/background.png') repeat;
  color: #333;
}

a {
  color: #0074ff;
  text-decoration: none;
  transition: color 0.3s;

  &:hover,
  &:active {
    color: #0041cc;
    text-decoration: underline;
  }

  &.register-link {
    border-radius: 0.3em;
    border: 1px solid transparent;
    background-color: #0074ff;
    color: #fff;
    transition: all 0.3s;

    &:hover, &:active {
      background-color: #0041cc;
      text-decoration: none;
      border: 1px solid #0074ff;
      color: #fff;
    }
  }
}

ul li {
  list-style-type: square;
}

h1 {
  font: 1.3em 'League Spartan', sans-serif;
  color: #0074ff;
}

.main {
  margin: 1rem auto;
  display: table;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .main-first {
    width: 20%;
    float: left;
    text-align: center;
  }

  .main-second {
    width: 75%;
    float: right;
    margin-top: 2.5rem;
    color: #666;

    h1 {
      padding: 0 1rem;
      margin-top: 4.2rem;
    }

    h2, h3 {
      padding: 0 1rem;
    }
  }
}

@media (min-width: 414px) {
  .main {
    max-width: 960px;
  }
}

.content {
  background-color: #fff;
  padding: 1rem;

  p {
    padding: 5px 0;
    margin: 0;
  }
}

@import 'components/logo';
@import 'components/nav';
@import 'components/program';
@import 'components/sponsors';
@import 'components/footer';
