@font-face {
  font-family: 'League Spartan';
  src: url('fonts/leaguespartan-bold.eot');
  src: url('fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/leaguespartan-bold.woff2') format('woff2'),
       url('fonts/leaguespartan-bold.woff') format('woff'),
       url('fonts/leaguespartan-bold.ttf') format('truetype'),
       url('fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('fonts/arimo-regular.eot');
  src: url('fonts/arimo-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/arimo-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('fonts/arimo-italic.eot');
  src: url('fonts/arimo-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/arimo-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Arimo';
  src: url('fonts/arimo-bold.eot');
  src: url('fonts/arimo-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/arimo-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('fonts/arimo-bolditalic.eot');
  src: url('fonts/arimo-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/arimo-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

html, body {
  font-family: 'League Spartan', sans-serif;
}

.logoWrapper {
  margin: 10% auto;
  text-align: center;

  h1, h3 {
    color: #0074FF;
  }

  hr {
    width: 25%;
  }

  svg.decoupledDevDays_logo {
    width: 25%;
    height: 100%;
  }

  @media (max-width: 414px) {
    svg.decoupledDevDays_logo {
      width: 60%;
      height: 100%;
    }
  }

  .cls-1 {
    fill: none;
    stroke: #727272;
    stroke-miterlimit: 10;
  }
  .cls-2 {
    fill: #8f2c8e;
  }
  .cls-3 {
    fill: #f0672f;
  }
  .cls-4 {
    fill: #40b350;
  }
  .cls-5 {
    fill: #0074ff;
  }
  .cls-6 {
    fill: #fff;
  }
}
